<mat-card appearance="outlined">
    <div class="header-container">
        <div class="right-header-div">
            <a href="/" mat-button>
                <mat-card-title>
                    <h1 class="title">{{title()}}</h1>
                </mat-card-title>
            </a>
            <button mat-button>{{newBlog()}}</button>
        </div>
        <div class="left-header-div">
            <button mat-button>{{Profile()}}</button>
            <button mat-button>{{Logout()}}</button>
        </div>
    </div>
</mat-card>